.header {
	
	padding: 24px 0;
}

.sizeXL {
	font-size: 68px;
}

.sizeL {
	font-size: 34px;
}

.sizeM {
	font-size: 20px;
}

.sizeS {
	font-size: 10px;
}

.sizeXS {
	font-size: 8px;
}

.whiteColor {
	color: white;
}